In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
pd.options.display.max_rows = 6

# 문자열 전처리

In [16]:
df = sns.load_dataset('exercise')

In [17]:
df

    Unnamed: 0  id     diet  pulse    time     kind
0            0   1  low fat     85   1 min     rest
1            1   1  low fat     85  15 min     rest
2            2   1  low fat     88  30 min     rest
..         ...  ..      ...    ...     ...      ...
87          87  30   no fat     99   1 min  running
88          88  30   no fat    111  15 min  running
89          89  30   no fat    150  30 min  running

[90 rows x 6 columns]

## .str 함수

### split

In [26]:
df['diet'].str.split(' ') # 리스트 형태

0     [low, fat]
1     [low, fat]
2     [low, fat]
         ...
87     [no, fat]
88     [no, fat]
89     [no, fat]
Name: diet, Length: 90, dtype: object

In [19]:
df['diet'].str.split(' ', expand=True) # 각각 컬럼으로 분리

      0    1
0   low  fat
1   low  fat
2   low  fat
..  ...  ...
87   no  fat
88   no  fat
89   no  fat

[90 rows x 2 columns]

### .contains

In [29]:
df['diet'].str.contains('low') # 대소문자 주의

0      True
1      True
2      True
      ...
87    False
88    False
89    False
Name: diet, Length: 90, dtype: bool